.button-add, .button-print{
	width: 6rem;
}

.no-print{
	display: none;
}

/* .bottom-navbar{
	width: 1000px;
	margin: 0 auto;
	background-color: red;
} */
.navbar{
	max-width: 80%;
	margin: 0 auto;
	color: white;
	background-color:tan;
}

.navbar a{
	color: white;
}

.nav-wrap{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}

.dropup{
	background-color: #28A745;
}

@media screen and (max-width: 720px){
	.navbar{
		width: 100%;
	}
}