*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #585c68; 
    font-family: "Poppins", Helvetica, sans-serif;
}

h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    color: #FFFFFF;
}

h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: #FFFFFF;
}

li{
    font-size: 10px;
    font-style: normal;
    font-weight: 200;
    line-height: 15px;
    text-align: left;    
}

a{
    text-decoration: none;
}

.main{
    display: flex;
}

/* Panel */

#left {
	background-color: #8E44AD;
	line-height: 1em;
}
#left * {
	color: #eee;
    font-family: 'Montserrat', sans-serif;
}
#left h3 , #left h4 {
	color: #fff;
    margin-top: 5px;
}
#left .btn {
	color: #fff;
}
#left .btn.btn-default {
	color: #666;
}


#panel {
    width: 300px;
	padding: 5%;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
#titleBox * {
	font-size: 2em;
}
#customTemplateOptions {
	display: none;
}


/* Panel Style Ends here */






.bold{
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}

.semi-bold{
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;

}

.resume{
    width: 595px;
    height: auto;
    display: flex;
    margin: 50px auto;
    background-color: #FFFFFF;
}
.resume_profile{
    height: 265px;
    width: 288px;
    background: #1F306E;
    border-radius: 0px 200px 200px 100px;
    padding: 65px 20px;
}

.resume-content{
    padding: 30px 30px 30px 40px;
}
.resume-content-2{
    padding: 30px 30px 30px 2px;
}

.title{
    margin-bottom: 10px;
}

.resume_contact ul{
    list-style-type: square;
    padding-left: 12px;    
}
.resume_responsibilities ul{
    padding-left: 12px;
}
.resume_education ul li, .resume_experience ul li{
    list-style: none;
    margin-bottom: 10px;
}
.grid ul{
    list-style: inside;
}

.resume_item{
    margin-bottom: 30px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}